<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="bg-dark-subtle">
    <nav class="navbar bg-body-tertiary ">
        <div class="container-fluid">
            <a class="navbar-brand">Student Grading System</a>
            <div th:if="${user != null}">
                <div class="d-flex">
                    <div class="nav-link disabled" aria-disabled="true">Logged in as: <span th:text="${user.getId()} + ' - ' + ${user.getName()} + ' (' + ${user.getUserType() + ')'}"></span></div>
                </div>
            </div>
        </div>
    </nav>
</div>

<div class="container">
    <h2>Course details:</h2>
    <p>ID: <span th:text="${course.getId()}"></span></p>
    <p>Title: <span th:text="${course.getTitle()}"></span></p>
    <p>Instructor ID: <span th:text="${course.getInstructorId()}"></span></p>
    <p>Instructor name: <span th:text="${instructor.getName()}"></span></p>
    <h2>Students List</h2>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Student ID</th>
            <th scope="col">Name</th>
            <th scope="col" th:if="${user.getUserType().toString().equalsIgnoreCase('instructor')}">Grade</th>
            <th th:if="${user.getUserType().toString().equalsIgnoreCase('instructor')}"></th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="student : ${students}">
                <td th:text="${student.getId()}"></td>
                <td th:text="${student.getName()}"></td>
                <td th:if="${user.getUserType().toString().equalsIgnoreCase('instructor')}">
                    <span th:text="${grades.get(student.getId()).getGrade()}"></span>
                    <form action="#" th:action="@{/grade/update}" method="GET">
                        <input type="hidden" name="courseId" th:value="${course.getId()}">
                        <input type="hidden" name="studentId" th:value="${student.getId()}">
                        <input type="hidden" name="grade" th:value="${grades.get(student.getId()).getGrade()}">
                        <button class="btn btn-secondary">Edit</button>
                    </form>
                </td>
                <td th:if="${user.getUserType().toString().equalsIgnoreCase('instructor')}">
                    <form action="#" th:action="@{/student/unEnroll}" method="POST">
                        <input type="hidden" name="courseId" th:value="${course.getId()}">
                        <input type="hidden" name="studentId" th:value="${student.getId()}">
                        <button class="btn btn-danger">Un-enroll</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div th:if="${user.getUserType().toString().equalsIgnoreCase('instructor')}">
    <div class="container">
        <h2>Grades statistics</h2>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Average</th>
                <th scope="col">Median</th>
                <th scope="col">Highest</th>
                <th scope="col">Lowest</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${#numbers.formatDecimal(statistics.getAverage(), 0, 'COMMA', 2, 'POINT')}"></td>
                <td th:text="${#numbers.formatDecimal(statistics.getMedian(), 0, 'COMMA', 2, 'POINT')}"></td>
                <td th:text="${#numbers.formatDecimal(statistics.getHighest(), 0, 'COMMA', 2, 'POINT')}"></td>
                <td th:text="${#numbers.formatDecimal(statistics.getLowest(), 0, 'COMMA', 2, 'POINT')}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="container">
        <form action="#" th:action="@{/student/enroll}" method="POST">
            <label for="studentId">
                <div class="form-group">
                    <label for="studentSelectEnroll">Select a student:</label>
                    <select class="form-control" id="studentSelectEnroll" name="studentId" required>
                        <option name="studentId" id="studentId" th:each="student : ${allOtherStudents}" th:value="${student.getId()}" th:text="${student.getId()} + ' - ' + ${student.getName()}"></option>
                    </select>
                </div>
            </label>
            <input type="hidden" th:value="${course.getId()}" name="courseId">
            <button class="btn btn-success">Enroll student</button>
        </form>
    </div>
</div>

<div th:if="${user.getUserType().toString().equalsIgnoreCase('admin')}">
    <div class="container">
        <form action="#" th:action="@{/course/update}" method="GET">
            <input type="hidden" th:value="${course.getId()}" name="courseId">
            <input type="hidden" th:value="${course.getTitle()}" name="title">
            <input type="hidden" th:value="${course.getInstructorId()}" name="instructorId">
            <button class="btn btn-warning">Update course</button>
        </form>
    </div>

    <div class="container">
        <form action="#" th:action="@{/course/delete}" method="POST">
            <input type="hidden" th:value="${course.getId()}" name="courseId">
            <button class="btn btn-danger">Delete course</button>
        </form>
    </div>

    <div class="container" th:if="${user.getUserType().toString().equalsIgnoreCase('admin')}">
        <a class="btn btn-secondary" href="/admin">Back</a>
    </div>
</div>

<div class="container" th:if="${user.getUserType().toString().equalsIgnoreCase('instructor')}">
    <form action="#" th:action="@{/instructor}" method="GET">
        <input type="hidden" name="courseId" th:value="${courseId}">
        <button class="btn btn-secondary">Back</button>
    </form>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
